body {
  font-family: "Roboto", sans-serif;
}

.nav-alert-container{
  position:absolute;
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
  z-index: 1;
}




/* Alert */

.alert-container .col-12{
  padding-left: 0;
  padding-right: 0;
}

.alert{
  border-radius: 0;
  margin-bottom: 0;
  padding:5px 15px;
}

.alert-warning {
  color:white;
  background-color: #f8876e;
  border-color:  #f8876e;
}
/* Navbar */
.navbar{
  margin-bottom: 0;
  border: 0; 
  width: 100%;
  background-color: rgba(0, 0,0, 0.75);
}

.navbar-toggler{
  border: 0;
}

.navbar-brand{
  font-weight: bold;
}

/* Callout */


/* Callout background */ 
.callout-container {
  height: 100vh;

  background: url(../images/book-background.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Block Dividers */
.block-divider {
  width: 75px;
  height: 5px;
  border: 0;
}

.block-divider-short {
  width: 35px;
  margin-top: 8px;
}

.block-divider-gold{
  background-color: rgba(232, 183, 58);
}

.block-divider-black{
  background-color: rgba(0, 0,0, 0.75);
}

.block-divider-white{
  background-color: white;
  margin-bottom: 25px;
}


 /* Callout text */
.jumbotron {
  background-color: rgb(233, 236, 239, 0.0);
}

.jumbotron h1 {
  color: white;
  font-weight: bold;
  margin-bottom: 0;
}

.jumbotron p {
  color: white;
}

.jumbotron-header small {
  font-style: italic;
  color: rgb(199, 195, 195);
}

.jumbotron .lead {
  margin: 25px 0;
}
 /* Sign up button */
.btn-cta {
  font-weight: bold;
  border-radius: 23px;
  width: 160px;
}

.btn-gold {
  color: white;
  background-color: rgb(232, 183, 58);
  border-color: rgb(232, 183, 58);
}

.btn-gold:hover,
.btn-gold:active,
.btn-gold:focus,
.btn-gold:active:focus {
    background-color:rgb(205, 162, 51);
    border-color: rgb(205, 162, 51);
    color: white;
}

/*Quotes and Features */

.section-header{
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.content-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container-wrapper {}

.container-wrapper-gold {
    background-color: rgb(205, 162, 51);
    color: white;
}

/* Quotes*/
.quote{
  margin-bottom: 50px;
}

/* Features */

.feature {
  text-align: center;
  margin-bottom: 40px;
}

.feature i {
  margin-bottom: 20px;
  font-size: 45px;
  line-height: 45px;
}

.feature .btn {
  background-color: white;
  border-color: white;
  border-radius: 15px;
  min-width: 100px;
  font-weight: bold;
  margin-top: 10px;
  color: rgb(232, 183, 58);
}

